*.jl.cov
*.jl.*.cov
*.jl.mem
*.log
src/MCHammer copy.jl
src/mch_LearningCurves_old.jl
test/examples/builds/
test/formats/builds/
test/missingdocs/build/
test/nongit/build/
test/errors/build/
docs/local/
docs/build/
docs/pdf/build/
docs/site/
archive